<footer class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="home-section-headline">Get in Touch</h2>
      <section class="footer-wrapper home-conent-wrapper">
        <p class="disclaimer"><strong>*contact requests made after 6p.m. MST will be replied to the following day </strong></p>
        <form action="" class="row" class="get-in-touch-form">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" name="name" placeholder="Full Name" class="form-control">
              <input type="text" name="tel" placeholder="Phone Number" class="form-control">
              <input type="text" name="tel" placeholder="What kind(s) of Pet(s) do you have?" class="form-control">
              <input type="text" name="text" placeholder="Best time to contact you? i.e. morning, evening" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <textarea name="message" rows="8" cols="80" class="form-control" placeholder="Tell me about your pet(s) and their pet care needs"></textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-danger">
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="col-md-12">
    <ul class="footer-links">
      <li class="footer-link">©2017 Forever love pet care. all rights reserverd.</li>
      <li class="footer-link impactstudio">Built With Love by</li>
      <li class="footer-link social-links">
        <i class="fa fa-facebook-official fa-3x fb"></i>
        <i class="fa fa-google-plus-square fa-3x gplus"></i>
      </li>
    </ul>
  </div>
</footer>
