<header class="header">
  <section class="header-info col-sm-6 col-sm-offset-3">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/img/logo_forever-love-loveland-pet-care-dog-walking.png" alt="Loveland Pet Care and Dog Walker">
      </a>
    </h1>
    <ul class="contact-details">
      <li class="detail">
        <a class="contact-link" href="tel:+19703428073"><i class="fa fa-phone"></i>(970) 342-8073</a>
      </li>
      <li class="detail">
        <a class="contact-link" href="mailto:foreverlovepetcare@yahoo.com"><i class="fa fa-envelope"></i>foreverlovepetcare@yahoo.com</a>
      </li>
    </ul>
  </section>
  <img class="dog-banner" src="{{site.baseurl}}/assets/img/banner_dogs-pet-care.png" alt="Loveland Pet Care and Dog Walking">
</header>
