<section class="container">
  <nav class="navigation">
    <ul class="row">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/about.html">About Me</a></li>
      <li><a href="{{site.baseurl}}/pet-care-services.html">Rates &amp; Services</a></li>
      <li><a href="{{site.baseurl}}/clients.html">Clients</a></li>
      <li><a href="{{site.baseurl}}/reviews.html">Reviews</a></li>
      <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
    </ul>
  </nav>
</section>
