<section class="container">
  <nav class="mobile-menu">
    <img class="hamburger" src="{{site.baseurl}}/assets/img/hamburger.png" alt="open mobile menu">
    <img class="cross" src="{{site.baseurl}}/assets/img/x.png" alt="close mobile menu">
  </nav>
  <nav class="navigation">
    <ul class="row">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/about">About Me</a></li>
      <li><a href="{{site.baseurl}}/pet-care-services">Rates &amp; Services</a></li>
      <li><a href="{{site.baseurl}}/clients">Clients</a></li>
      <li><a href="{{site.baseurl}}/reviews">Reviews</a></li>
      <li><a href="{{site.baseurl}}/contact">Contact</a></li>
    </ul>
  </nav>
</section>
