---
---
@charset "utf-8";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Damion');

$poop: #6d3e22;
$fb: #3b5998;
$gplus: #ea4335;
$red: #ff0000;
$cream: #f1f1f1;
$pangolin: 'Pangolin', cursive;
$damion: 'Damion', cursive;

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

i {
  padding-right: 10px;
}

a, a:focus, a:link {
  color: $poop;
  transition: .3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
}

ul {
  padding: 0;
}

h2 {
  font-family: $damion;
  font-size: 31px;
  margin-bottom: 31px;
}

/* header */

.header {
  padding-top: 83px;
}

.header-info {
  margin-bottom: 30px
}

.logo {
  margin-bottom: 42px;
}

.logo img {
  width: 100%;
  height: auto;
}

.contact-details {
  width: 100%;
  border-bottom: 2px solid red;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  padding: 0 0 15px 0;
}

.contact-link:hover {
  color: $red;
}

.detail {
  display: inline-block;
  padding-right: 15px;
}

.detail:last-child {
  padding-right: 0;
}

.detail a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: $pangolin;
}

.dog-banner {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 30px auto;
}

/* navigation */

.navigation {
  background-color: $red;
  font-family: $pangolin;
  padding: 16px 25px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.navigation, .navigation ul li a {
  color: white;
}

.navigation ul {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}

.navigation ul li a:hover,
.navigation ul li a:active {
  color: black !important;
}

/* home */
.home-conent-wrapper {
  padding: 25px;
  background-color: $cream;
  text-align: center;
}

/* home - lead description */

.lead-description {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: justify;
}

.owner-pic {
  width: 24%;
  height: 150px;
  margin-left: 30px;
  order: 2;
}

.lead-description p {
  font-size: 18px;
  order: 1;
  width: 76%;
}


/* home - services */

.home-section-headline {
  font-size: 18px;
  font-family: $pangolin;
  background-color: $red;
  width: 100%;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

.service {
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid #e1d9cc;
  padding: 0 60px;
}

.service:last-child {
  border-right: none;
}

.service-title {
  font-size: 14px;
  font-family: $pangolin;
  color: $poop;
}

.btn-service {
  border-radius: 0;
  background-color: black;
  transition: .3s;
}

.btn-service a {
  color: white;
}

.btn-service:hover {
  background-color: $red;
}

/* home - clients */

.clients {
  overflow: hidden;
}

.clients li {
  list-style: none;
}

.img-client {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.last-client-child, .second-last-client-child {
  margin-bottom: 0;
}

.btn-clients {
  text-align: left !important;
  background-color: black;
  border-radius: 0;
  margin-top: 15px;
  transition: .3s;
}

.btn-clients:hover {
  background-color: $red;
}

.btn-clients a {
  color: white;
}

.pet-tech {
  width: 60%;
  display: block;
  margin: 20px auto 0 auto;
}

/* subpage */

.subpage-wrapper p {
  text-align: justify;
}

.subpage-wrapper h2 {
  margin-top: 0;
}

/* subpage - about */

.about-me-pic {
  width: 100%;
  height: auto;
}

/* subpage - services */

th, tr {
  padding: 10px;
  font-family: $pangolin;
}

/* subpage - contact */

.ways-to-contact {
  list-style: none;
}

.ways-to-contact li, .ways-to-contact li a {
  font-family: $pangolin;
}

/* footer */

footer * {
  font-family: $pangolin;
}

.footer-wrapper {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.form-group input {
  margin-bottom: 9px;
}

.form-group input, .form-group textarea {
  border-radius: 0;
  border: none;
  resize: none;
}

.form-group input:focus, .form-group textarea:focus {
  outline: 0;
  webkit-appearance: none;
}

.btn-danger {
  background-color: $red;
}

.footer-links {
  text-transform: uppercase;
  font-weight: bold;
  color: $poop;
  list-style: none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.fb {
  color: $fb;
}

.gplus {
  color: $gplus;
  padding-right: 0;
}

.impactstudio {
  width: 150px;
  height: auto;
  padding-left: 5px;
}

@media all and (max-width: 1199px) {
  .service {
    padding: 0 40px;
  }

  .contact-details {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 991px) {
  .header {
    padding-top: 0;
  }

  .services-container {
    width: 100%;
  }

  .footer-links {
    flex-direction: column-reverse;
  }

  .social-links {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 768px) {
  .lead-description-container {
    padding: 0 15px;
  }

  .navigation {
    font-size: 13px;
  }
}

@media all and (max-width: 700px) {
  .service {
    padding: 0 24px;
  }

  .ways-to-contact {
    font-size: 18px;
  }

  .ways-to-contact-link {
    display: block;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    display: none;
  }

  .lead-description {
    flex-direction: column;
  }

  .lead-description p {
    width: 100%;
  }

  .owner-pic {
    order: 1;
    display: block;
    margin: 0 auto 20px auto;
    width: 75%;
    height: auto;
  }

  .lead-description p {
    order: 2;
  }

  h2 {
    text-align: center;
  }

  .bio-pic-wrapper {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .about-me-pic {
    display: block;
    margin: 20px auto;
    width: 40%;
  }

  .about-description-wrapper {
    width: 100%;
  }
}

@media all and (max-width: 530px) {
  .services {
    padding: 25px 5px;
  }
  .service {
    padding: 0 5px;
  }
}

@media all and (max-width: 360px) {
  .service {
    padding: 0 2px;
    border-right: 0;
  }

  .btn-service {
    padding: 6px 8px;
  }
}

@media all and (max-width: 331px) {
  .service {
    padding: 0 2px;
    border-right: 0;
  }

  .service:nth-child(3) {
    margin-top: 15px;
  }

  .btn-service {
    padding: 6px 8px;
  }
}
