<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
</head>
<body>
  {% include header.html %}
  {% include navigation.html %}
  <main class="container">
    <div class="row">
      <div class="col-md-12 subpage-wrapper">
        {{content}}
      </div>
    </div>
  </main>
  {% include footer.html %}
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/main.js"></script>
</body>
</html>
