  <h2 class="home-section-headline">My Happy Clients</h2>
  <ul class="home-conent-wrapper clients">
    <li class="col-sm-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_pitbull-pet-sitter.jpg" alt="Dog Walker client">
    </li>
    <li class="col-sm-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_bernese-mountain-dog-dog-walker.jpg" alt="Bernese Mountain Dog - Dog Walker Client">
    </li>
    <li class="col-sm-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_bulldog-loveland-dog-walker.jpg" alt="Bulldog - Dog Walker Client">
    </li>
    <li class="col-sm-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_cat-pet-sitter-pet-sitting.jpg" alt="Cat - Pet Sitter Overnight Stay">
    </li>
  </ul>
