  <h2 class="home-section-headline">My Happy Clients</h2>
  <div class="home-conent-wrapper ">
    <ul class="clients">
      <li class="col-xs-6">
        <img class="img-client" src="{{site.baseurl}}/assets/img/client_pitbull-pet-sitter.jpg" alt="Dog Walker client">
      </li>
      <li class="col-xs-6">
        <img class="img-client" src="{{site.baseurl}}/assets/img/client_bernese-mountain-dog-dog-walker.jpg" alt="Bernese Mountain Dog - Dog Walker Client">
      </li>
      <li class="col-xs-6">
        <img class="img-client second-last-client-child" src="{{site.baseurl}}/assets/img/client_bulldog-loveland-dog-walker.jpg" alt="Bulldog - Dog Walker Client">
      </li>
      <li class="col-xs-6">
        <img class="img-client last-client-child" src="{{site.baseurl}}/assets/img/client_cat-pet-sitter-pet-sitting.jpg" alt="Cat - Pet Sitter Overnight Stay">
      </li>
    </ul>

    <button class="btn btn-clients"><a href="{{site.baseurl}}/clients.html">See more of my happy clients</a></button>
  </div>

  <img class="pet-tech" src="{{site.baseurl}}/assets/img/Pet-Tech-CPR-Certified-pet-care-loveland.png" alt="Pet Tech CPR Certified">
