  <h2 class="home-section-headline">My Happy Clients</h2>
  <ul class="home-conent-wrapper clients">
    <li class="col-xs-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_pitbull-pet-sitter.jpg" alt="Dog Walker client">
    </li>
    <li class="col-xs-6">
      <img class="img-client" src="{{site.baseurl}}/assets/img/client_bernese-mountain-dog-dog-walker.jpg" alt="Bernese Mountain Dog - Dog Walker Client">
    </li>
    <li class="col-xs-6">
      <img class="img-client second-last-client-child" src="{{site.baseurl}}/assets/img/client_bulldog-loveland-dog-walker.jpg" alt="Bulldog - Dog Walker Client">
    </li>
    <li class="col-xs-6">
      <img class="img-client last-client-child" src="{{site.baseurl}}/assets/img/client_cat-pet-sitter-pet-sitting.jpg" alt="Cat - Pet Sitter Overnight Stay">
    </li>
  </ul>

  <img class="img-responsive col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2" src="{{site.baseurl}}/assets/img/Pet-Tech-CPR-Certified-pet-care-loveland.png" alt="Pet Tech CPR Certified">
