<h2 class="home-section-headline">Pet Care Services</h2>
<ul class="services home-conent-wrapper">
  <li class="service">
    <a href="{{site.baseurl}}/pet-care-services.html"><img src="{{site.baseurl}}/assets/img/icon_dog-walking-loveland.png" alt="Loveland Dog Walking"></a>
    <h3 class="service-title">Dog Walking</h3>
    <p></p>
    <button class="btn btn-service"><a href="{{site.baseurl}}/pet-care-services.html">Learn More</a></button>
  </li>
  <li class="service">
    <a href="{{site.baseurl}}/pet-care-services.html"><img src="{{site.baseurl}}/assets/img/icon_drop-ins-loveland-pet-care.png" alt="Loveland Dog Walking"></a>
    <h3 class="service-title">Drop-Ins</h3>
    <p></p>
    <button class="btn btn-service"><a href="{{site.baseurl}}/pet-care-services.html">Learn More</a></button>
  </li>
  <li class="service">
    <a href="{{site.baseurl}}/pet-care-services.html"><img src="{{site.baseurl}}/assets/img/icon_overnight-stay-loveland-pet-care.png" alt="Loveland Dog Walking"></a>
    <h3 class="service-title">Overnight Stays</h3>
    <p></p>
    <button class="btn btn-service"><a href="{{site.baseurl}}/pet-care-services.html">Learn More</a></button>
  </li>
</ul>
